<template name="ChatsIndex">
  <div class="row">
    <!-- BEGIN User Lists -->
    <div class="col-md-4">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Users List</th>
          </tr>
        </thead>
        <tbody>
          {{#each usersList}}
          <tr>
            <td>User {{userId}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <!-- END User Lists -->

    <div class="col-md-8 chats">
      <div class="chat-app">
        <div class="chat-header"><h3>Chat Advanced Communication Theory</h3></div>
        <div class="chat-content">
          <div class="chat-item">
            <div class="aside col-md-2">User 1</div>
            <div class="article col-md-10">
              There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a task to occupy the generations. <small>5 minutes ago.</small>
            </div>
          </div>
        </div>

        <!-- BEGIN chat-input -->

        <div class="chat-input">

          <form action="">

              <textarea name="text" rows="3" class="form-control" placeholder="Click here to type a chat. Enter to send messages. Maximum 250 characters."></textarea>

          </form>
        </div>

        <!-- END chat-input -->
      </div>
    </div>
  </div>
</template>
