<template name="ChatsIndex">
  <div class="row">
    <!-- BEGIN User Lists -->
    <div class="col-md-4">
      <table class="table table-striped">
        <thead>
          <tr>
            <th colspan="2">Users List</th>
          </tr>
        </thead>
        <tbody>
          {{#each usersList}}
          <tr>
            <td>
              <img src="https://mooc.harukaedu.com/uploads/students/145/avatar/thumbs/Alwin_230_230.PNG" style="width: 62px; height: 62px;" class="img-circle">
            </td>
            <td style="vertical-align: middle;">Alwin Daniel</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <!-- END User Lists -->

    <div class="col-md-8 chats">
      <div class="chat-app">
        <div class="chat-header"><h3>Chat Advanced Communication Theory</h3></div>
        <div class="chat-content" style="height: 550px; overflow-y: scroll">
          {{# each chats}}
          <div class="chat-item" style="padding-bottom: 80px">
            <div class="aside col-md-2 nopadding">
              <img src="https://mooc.harukaedu.com/uploads/students/145/avatar/thumbs/Alwin_230_230.PNG" style="width: 62px; height: 62px;" class="img-circle">
            </div>
            <div class="article col-md-10 nopadding">
              <span class="user label label-info">Alwin Daniel</span> <small class="label label-default">{{livestamp dateCreated}}</small>
              <br>
              <span class="date"></span>
              {{{text}}}
            </div>
          </div>
          {{/each}}
        </div>

        <!-- BEGIN chat-input -->

        <div class="chat-input" style="padding-top: 20px;">

          <form class="chatForm">

            <div class="col-md-11">
              <textarea name="text" rows="3" class="form-control" placeholder="Click here to type a chat. Enter to send messages. Maximum 250 characters."></textarea>
            </div>
            <div class="col-md-1">
              <button type="submit" class="btn btn-sm btn-warning" style="height: 72px;">Send!</button>
            </div>

          </form>
        </div>

        <!-- END chat-input -->
      </div>
    </div>
  </div>
</template>
