<template name="ChatsIndex">
  <div class="row">
    <!-- BEGIN User Lists -->
    <div class="col-md-4">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Users List</th>
          </tr>
        </thead>
        <tbody>
          {{#each usersList}}
          <tr>
            <td>User {{userId}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <!-- END User Lists -->

    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th colspan=2>Chat Advanced Communication Theory</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>User 1</td>
            <td>There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a task to occupy the generations. <small>5 minutes ago.</small></td>
          </tr>
          <tr>
            <td>User 1</td>
            <td>
              <form action="">

                <textarea name="text" rows="3" class="form-control" placeholder="Click here to type a chat. Enter to send messages. Maximum 250 characters."></textarea>

              </form>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
