/*****************************************************************************/
/* ChatsIndex: Style */
/*****************************************************************************/

html, body {

  height: 90%
}

.container {
  height: 100%
}
.row {
  height: 100%
}

.chats {
  height: 100%
}
.chat-content {
  height: 95%
}

.chat-app {
  height: 100%
}


